.hide {display: none;}
.left {float: left;}
.right {float: right;}
.clear {clear: both; height: 10px;}
.title-div {padding: 10px 0px 30px 0px;}
.floating-title {display: inline;}
h1.main-title {margin-bottom: 30px !important;}
.menu-button {float: right; display: inline;}
.floating-button {display: inline; margin: 0px 30px; padding: 0px 25px !important;}
.floating-button:first-child {margin-left: 0px;}
.floating-button:last-child {margin-right: 0px;}
.padding-button {padding: 0px 25px !important;}
.area {resize: none; height: auto !important;}
.chatArea {margin-bottom: 15px; border: 1px solid #cccccc; padding: 10px; overflow-y: scroll;}
.chatArea .message {margin: 5px 0px;}
.chatArea .message p.messageText {color: #ffffff; background-color: #0d6efd; padding: 5px; border-radius: 10px; margin-bottom: 2px;}
.chatArea .message span {display: block;}
.chatArea .message span.createdAt {}
.chatArea .message span.sendBy {}